<% if component.abstract_or_scope.present? or component.odd.present? or component.bioghist.present? or component.total_digital_object_count > 0 %>
  <blockquote>
    <% if component.abstract_or_scope.present? %>
      <p><%= component.abstract_or_scope %></p>
    <% end %>
    <% component.odd.each do |value_| %>
      <p>
        <%= render_html_tags(value: [value_]) %>
      </p>
    <% end %>
    <% component.bioghist.each do |value_| %>
      <p>
        <%= render_html_tags(value: [value_]) %>
      </p>
    <% end %>
    <% if component.total_digital_object_count > 0 && component.digital_objects.present? %>
      <% component.digital_objects.each do |dao| %>
        <p>
          <a href="<%= dao.href %>">View: <%= dao.label %></a>
        </p>
      <% end %>
    <% end %>
  </blockquote>
<% end %> 