<% @components.each do |component| %>
  <article data-component-level="<%= component.component_level %>" style="--component-level: <%= component.component_level %>">
    <div class="component-wrapper">
      <%= content_tag "h#{component.component_level + 2}", class: 'tree-title', id: component.id do -%>
        <span>
          <%= component.normalized_title %>
          <% if component.level.present? %> (<%= component.level %>)<% end %>
        </span>
        <% if component.containers.present? %>
          <span class="box">
            <%= component.containers.join(', ') %>
          </span>
        <% end %>
      <% end -%>

      <%= render 'arclight/fragments/component_details', { component: component } %>
    </div>
  </article>
<% end %>