<a class="al-show-actions-collection-info btn btn-default btn-sm dropdown-toggle text-muted ml-2" href="#" role="button" id="collection-info-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="<%= t('dul_arclight.views.show.sidebar.collection_info_icon_label') %>">
<i class="fas fa-info-circle"></i></a>
<div class="dropdown-menu collection-info-menu" aria-labelledby="collection-info-link">
  <div class="dropdown-item-text">
    <table class="table table-sm table-borderless collection-info-table">
      <tbody>
        <% if /^\s*bhl\s*$/i.match?(document.repository_id) %>
        <tr>
          <td>Call Number</td>
          <td>
            <%= link_to document.collection_unitid,
                  [solr_document_path(normalize_id(document.eadid)), 'xml'].join('/'),
                  target: '_blank',
                  rel: 'nofollow',
                  aria: { label: 'EAD XML file' },
                  data: { ga_label: 'EAD link'} %>
          </td>
        </tr>
        <% end %>

        <% if document.ark.present? %>
          <tr>
            <td>ARK</td>
            <td><%= document.ark %></td>
          </tr>
        <% end %>

        <% if document.bibnums.present? %>
        <tr>
          <td>Catalog record</td>
          <td>
            <% document.bibnums.each do |bibnum| %>
              <div>
                <%= link_to bibnum, catalog_item_url(bibnum), target: '_blank',
                      aria: { label: 'catalog link' },
                      data: { ga_label: 'catalog link'} %>
              </div>
            <% end %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td>Total components</td>
          <td><%= number_with_delimiter(document.total_component_count) %></td>
        </tr>

        <% if document.total_digital_object_count.positive? %>
          <tr>
            <td>Items available online</td>
            <td>
              <span data-toggle="tooltip" title="<%= t('dul_arclight.tooltips.online') %>">
                <%= blacklight_icon :online, classes: 'al-online-content-icon' %>
              </span>
              <%= link_to number_with_delimiter(document.total_digital_object_count),
                    search_action_path(f: { collection_sim: [document.collection_name],
                                        has_online_content_ssim: ["online"] }),
                    aria: { label: 'limit to components with online access' },
                    data: { ga_label: 'filter to online access' } %>
            </td>
          </tr>
        <% end %>

        <% if document.permalink.present? %>
          <tr>
            <td colspan="2">
              Permalink<br/>
              <%= link_to document.permalink, document.permalink %>
            </td>
          </tr>
        <% end %>

          <tr>
            <td>Last indexed</td>
            <td><%= formatted_last_indexed(document.last_indexed) %></td>
          </tr>

      </tbody>
    </table>
  </div>
</div>
