<div id="collection-actions" class="actions-wrapper">
  <div class="al-show-actions">
    <%= render 'catalog/sidebar_back_to_top' %>
    <h2>
      <i class="fas fa-archive"></i>
      <%= t("dul_arclight.views.show.sidebar.collection_title") %>
    </h2>
    <div class="sidebar-collection-title">
        <%= link_to solr_document_path(normalize_id(document.eadid)) do %>
          <span class="collection-name"><%= document.collection_name %></span>
        <% end %>
      </div>

    <div class="d-flex mt-3">
<!--      <div class="flex-fill">-->
        <%#= render partial: 'catalog/show_actions/duke_request', locals: { document: document } %>
<!--      </div>-->
      <div>
        <%= render partial: 'catalog/show_actions/collection_info', locals: { document: collection_doc(document) } %>
      </div>
    </div>
  </div>
</div>
