<%#= @repository.inspect %>
<div class="prose prose-container">
<h1>Using Materials from <%= @repository.name %></h1>

<p><%= @repository.using_materials.html_safe %></p>

<% if @repository.visitor_info %>
<h2>Info for Visitors</h2>

<p><%= @repository.visitor_info.html_safe %></p>
<% end %>

<% if @repository.how_to_request %>
<h2 id="requesting">How to Request</h2>

<p><%= @repository.how_to_request.html_safe %></p>
<% end %>

<% if @repository.how_to_order %>
<h2 id="ordering">Ordering Reproductions</h2>

<p><%= @repository.how_to_order.html_safe %></p>
</div>
<% end %>