<%# Override Blacklight core in order to customize locally %>
<%# Bookmarks moved to _search_form.html.erb %>
<%# Last checked for updates:      %>
<%# Blacklight v7.2.0 %>
<%# /app/views/shared/_user_util_links.html.erb #%>
<%# https://github.com/projectblacklight/blacklight/releases/tag/v7.2.0 #%>

<div class="navbar-right">
  
  <ul class="nav navbar-nav">

  <%#  util links %>
    <%#  my account %>
    <li class="util-action">
      <a href="https://library.duke.edu/my-accounts" class="my-account" title ="<%= t('blacklight.header_links.my_account') %>">
        <span class="nav-icon"><i class="fas fa-user"></i></span><span class="nav-label"><%= t('blacklight.header_links.my_account') %></span>
      </a>
    </li>


    <%#  ask a question %>
    <li>
      <a href="<%= ask_rubenstein_url %>" class="ask-a-librarian" title="<%= t('blacklight.header_links.ask_long') %>">
        <span class="nav-icon"><i class="fas fa-comment"></i></span><span class="nav-label"><%= t('blacklight.header_links.ask') %></span>
      </a>
    </li>


    <%#  trigger dul mast %>
    <li class="full-menu-toggle-wrapper">
      <a href="#" id="full-menu-toggle" class="full-menu" title="<%= t('blacklight.header_links.menu_long') %>">
        <span class="nav-icon"><i class="fas fa-bars"></i></span><span class="nav-label"><%= t('blacklight.header_links.menu') %></span>
      </a>
    </li>

  </ul>

</div>

