<%# Overrides ArcLight Core partial. %>
<%# Adds BS tooltips to bookmark icons %>
<%# Last checked for updates: ArcLight v0.3.2. %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_arclight_bookmark_control.html.erb %>

<% if current_or_guest_user %>
  <div class="checkbox">
    <label class="" for="request-item_<%= document.id %>" title="">
      <input type="checkbox" name="Request" value="request-item_<%= document.id %>">
      <input type="hidden" name="Request" value="request-item_<%= document.id %>">
      <input type="hidden" name="ItemSubTitle_<%= document.id %>" value="<%= document.normalized_title %>(<%= document.extent %>)">
      <input type="hidden" name="ItemVolume_<%= document.id %>" value="<%= document.containers %>">
      <input type="hidden" name="ItemCitation_<%= document.id %>" value="<%= document.reference %>">
    </label>
  </div>

<% else %>
  &nbsp;
<% end %>
