<%# Override ArcLight Core partial %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_custom_metadata.html.erb %>
<%# Last checked for updates: ArcLight v0.3.2 %>

<%# nixing bootstrap columns %>

<% doc_presenter = show_presenter(document).with_field_group(field_accessor) %>

  <%= content_tag(:div, id: ( field_accessor == 'restrictions_field' ?  'restrictions-preview' : t("arclight.views.show.sections.#{field_accessor}").parameterize), class: 'metadata-section' ) do %>

  <%# DUL CUSTOMIZATION: enable rendering just the content w/o headings %>
  <% unless local_assigns[:skip_headings].present? %>
    <h2 class='al-show-sub-heading'>
      <%= t("arclight.views.show.sections.#{field_accessor}", level: document.level) %>
    </h2>

    <%# DUL CUSTOMIZATION: Optionally add boilerplate text to a field group %>
    <%# using an i18n key. %>
    <% if I18n.exists?("um_arclight.views.show.field_group_note.#{field_accessor}") %>
      <p><%= t("um_arclight.views.show.field_group_note.#{field_accessor}").html_safe %></p>
    <% end %>
  <% end %>

  <dl>
    <% generic_document_fields(field_accessor).each do |field_name, field| %>
      <% if generic_should_render_field?(field_accessor, document, field) %>
        <dt class="blacklight-<%= field_name.parameterize %>"><%= generic_render_document_field_label(field_accessor, document, field: field_name) %></dt>
        <dd class="blacklight-<%= field_name.parameterize %>">
          <% if local_assigns[:truncation_length].present? %>
            <%# truncate description %>
            <% description_text = doc_presenter.field_value field %>
            <%= sanitize(description_text, tags:[]).gsub('.', '. ').truncate(local_assigns[:truncation_length], separator: ' ') %>
            <% break %>
          <% else %>
            <%= doc_presenter.field_value field %>
          <% end %>
        </dd>
      <% end %>
    <% end %>
  </dl>
<% end %>
