<%# DUL CUSTOMIZATION: Overrides ArcLight Core partial. We avoid linking to repository %>
<%# portals by slug, opting instead for the facet view. Also added index_doc_actions   %>
<%# to show digital content indicator & bookmark checkboxes (w/group-doc-actions class). %>
<%# Last checked for updates: ArcLight v0.3.2. See: %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_group_header_default.html.erb %>

<div class='al-grouped-title-bar'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='d-flex flex-wrap justify-content-between'>
        <% if document.repository_config.present? %>
          <div class='al-grouped-repository breadcrumb-links'>
            <%= link_to(document.repository_config.name, repository_collections_path(document.repository_config)) %>
          </div>
        <% end %>
        <%= render_index_doc_actions document, wrapping_class: 'd-flex justify-content-end group-doc-actions' %>
      </div>
      <h3><%= link_to_document document, document_show_link_field(document) %></h3>
      <%= content_tag('span', class: 'al-document-extent badge') do %>
        <%= document.extent %>
      <% end if document.extent %>
      <%= content_tag('div', class: 'al-document-abstract-or-scope') do %>
        <%= content_tag('div', 'data-arclight-truncate' => true) do %>
          <%= document.abstract_or_scope %>
        <% end %>
      <% end if document.abstract_or_scope %>
    </div>
  </div>
</div>
