<% @random_feature = random_feature %>

<div class="row homepage main-feature">
  <div class="col-md-12">
    <div class="imgback imgback-shadow col-md-5 col-lg-6 col-xl-7 hidden-sm-down"></div>
    <div class="imgback imgback-image col-md-5 col-lg-6 col-xl-7 hidden-sm-down"
        style="background-image: url(<%= @random_feature['image_url'] %>)">
      <div class="feature-caption"><%= @random_feature['caption_html'].html_safe %></div>
    </div>

    <div class="col-md-7 col-lg-6 col-xl-5 rl-menu-title">
      <h1 class="main-title">Find Archival Materials</h1>
      <p class="lead tagline">Detailed inventories of <span class="collection-count"><%= number_with_delimiter(collection_count) %></span> collections</p>

      <%= render_search_bar %>

      <div class="intro-buttons mt-2">
        <div class="btn-group">
          <%= link_to t('dul_arclight.home.browse_all'), arclight_engine.collections_path, { class: 'btn btn-sm btn-primary'} %>
          <a href="#" type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </a>
          <div class="dropdown-menu">
            <%= link_to t('dul_arclight.home.browse_all'), arclight_engine.collections_path, { class: 'dropdown-item'} %>
            <%= link_to t('dul_arclight.home.browse_ua'), search_action_path(f: { level_sim: ["Collection"], repository_sim: ["Duke University Archives"] }), { class: 'dropdown-item'} %>
          </div>
        </div>

        <%= render 'search_extra_controls' %>

      </div>
      <hr class="extended-divider mt-3" />
      <a class="rl-banner d-flex align-items-center" href="https://library.duke.edu/rubenstein">
        <%= image_tag asset_url('dul-logos/rl-logo-black.png'), alt: 'Rubenstein Logo', class: 'rl-logo' %>
        <div class="rl-fullname">David M. Rubenstein Rare <br class="rl-break"/>Book &amp; Manuscript Library</div>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-5">
      <h3>About This Site</h3>
      <p>Use this site to search for descriptions of primary sources and other unique materials held in Duke&rsquo;s special collections and university archives. Materials include manuscripts, letters, photographs, film, video, oral histories, objects, digital materials, and more.</p>
    </div>
    <div class="col-md-4">
      <h3>Find More in the Catalog</h3>
      <p>Not all of the Rubenstein's collections are described on this site. <a href="https://find.library.duke.edu/?f_inclusive%5Blocation_hierarchy_f%5D%5B%5D=duke%3Adukeruby&amp;f_inclusive%5Blocation_hierarchy_f%5D%5B%5D=duke%3Adukeunis&amp;search_field=all_fields&amp;q=&amp;f%5Blocation_hierarchy_f%5D%5B%5D=">Search the catalog</a> to find additional manuscripts, rare books, and other items held in the Rubenstein.</p>
    </div>
    <div class="col-md-3">
      <h3>Ask a Librarian</h3>
      <p>Need help or have questions? <a href="https://library.duke.edu/rubenstein/ask">Contact a librarian or archivist</a> for more information.</p>
    </div>
  </div>
</div>