<% @random_feature = random_feature %>

<div class="row homepage main-feature">
  <div class="col-md-12">
    <div class="imgback imgback-shadow col-md-5 col-lg-6 col-xl-7 hidden-sm-down"></div>
    <div class="imgback imgback-image col-md-5 col-lg-6 col-xl-7 hidden-sm-down"
        style="background-image: url(<%= feature_img_url(@random_feature['image']) %>)">
      <div class="feature-caption"><%= @random_feature['caption_html'].html_safe %></div>
    </div>

    <div class="col-md-7 col-lg-6 col-xl-5 rl-menu-title">
      <h1 class="main-title">Find Archival Materials</h1>
      <p class="lead tagline">Detailed inventories of <span class="collection-count"><%= number_with_delimiter(collection_count) %></span> collections</p>

      <%= render_search_bar %>

      <div class="intro-buttons mt-2">
        <div class="btn-group">
          <%= link_to t('dul_arclight.home.browse_all'), arclight_engine.collections_path, { class: 'btn btn-sm btn-primary'} %>
          <button href="#" type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <%= link_to t('dul_arclight.home.browse_all'), arclight_engine.collections_path, { class: 'dropdown-item'} %>
            <%= link_to t('dul_arclight.home.browse_ua'), ua_record_groups_path, { class: 'dropdown-item'} %>
          </div>
        </div>

        <%= render 'search_extra_controls' %>

      </div>
      <hr class="extended-divider mt-3" />
      <a class="rl-banner d-flex align-items-center" href="https://library.duke.edu/rubenstein">
        <%= image_tag asset_url('dul-logos/rl-logo-black.png'), alt: 'Rubenstein Logo', class: 'rl-logo' %>
        <div class="rl-fullname">David M. Rubenstein Rare <br class="rl-break"/>Book &amp; Manuscript Library</div>
      </a>
    </div>
  </div>
</div>
<div class="container">

  <%# Configurable alert banner; set via un/commenting dul_arclight.home.alert.* %>
  <%# keys in config/locales/dul_arclight.en.yml %>
  <% if I18n.exists?('dul_arclight.home.alert') %>
    <div class="mt-4 mb-4 col-md-12 banner-wrapper banner-warning d-flex flex-row">
      <div class="banner-part banner-heading d-md-block d-lg-flex">
        <%= blacklight_icon :exclamation_triangle_solid %>
        <span class="banner-heading-text d-none d-lg-block pr-4">
          <%= t('dul_arclight.home.alert.title') %>
        </span>
      </div>
      <div class="banner-part banner-shadow"></div>
      <div class="banner-part banner-message flex-grow-1 d-flex flex-column">
        <div class="mb-0 banner-message-text p-2">
          <%= t('dul_arclight.home.alert.message_html').html_safe %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row mt-4 mb-5">
    <div class="col-md-5">
      <h2><%= t('dul_arclight.home.about.heading') %></h2>
      <p><%= t('dul_arclight.home.about.text_html').html_safe %></p>
    </div>
    <div class="col-md-4">
      <h2><%= t('dul_arclight.home.catalog.heading') %></h2>
      <p>Not all of the Rubenstein's collections are described on this site. <a href="https://find.library.duke.edu/?f_inclusive%5Blocation_hierarchy_f%5D%5B%5D=duke%3Adukeruby&amp;f_inclusive%5Blocation_hierarchy_f%5D%5B%5D=duke%3Adukeunis&amp;search_field=all_fields&amp;q=&amp;f%5Blocation_hierarchy_f%5D%5B%5D=">Search the catalog</a> to find additional manuscripts, rare books, and other items held in the Rubenstein.</p>
    </div>
    <div class="col-md-3">
      <h2><%= t('dul_arclight.home.ask.heading') %></h2>
      <p>Need help or have questions? <a href="https://library.duke.edu/rubenstein/ask?referrer=<%= request.original_url %>">Contact a librarian or archivist</a> for more information.</p>
    </div>
  </div>
</div>

<% content_for :twitter_og_meta do %>
  <meta name="description" content="<%= t('dul_arclight.home.about.text_html') %>" />
  <meta name="og:description" content="<%= t('dul_arclight.home.about.text_html') %>" />
<% end %>
