<%# Copy of ArcLight Core partial for DUL customization %>
<%# Last checked for updates: ArcLight v0.3.0 %>
<%# See: %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_index_collection_context_default.html.erb %>

<%# This partial renders each node in the contextual navigation. %>
<%# We have moved contextual nav into a sidebar, so there's less %>
<%# space available; some elements have been moved to a popover  %>
<%# or removed entirely.   %>

<li id="nav_<%= document.id %>" class="al-collection-context row d-flex align-items-start">
  <div class="documentHeader row" data-document-id="<%= document.id %>">
    <% requestable = item_requestable?('', { document: document }) %>

    <%# --------------------- %>
    <%# +/- TREE NAV CONTROL  %>
    <%# --------------------- %>

    <% if document.children? %>
      <div class="al-toggle-children-container">
        <%= link_to(
          blacklight_icon(:plus),
          "#nav_#{document.id}-collapsible-hierarchy",
          class: "al-toggle-view-children #{!show_expanded?(document) ? 'collapsed' : ''}",
          'aria-label': t('arclight.hierarchy.view_all'),
            data: {
              toggle: 'collapse'
            }
          )
        %>
      </div>
    <% end %>

    <div class="col col-no-left-padding d-flex flex-wrap">

      <div class="index_title document-title-heading my-w-100 w-md-100 order-0">

        <%# --------------- %>
        <%# COMPONENT TITLE %>
        <%# --------------- %>

        <% counter = document_counter_with_offset(document_counter) %>
        <%= link_to_document document, document_show_link_field(document),
          class: 'tree-nav-leaf', title: document.level, counter: counter,
          data: {
            toggle: 'popover',
            content: [document.containers.join(', '), document.short_description].reject(&:blank?).join('<br/>')
            }
        %>

        <%# ---------------------- %>
        <%# DESCENDANT COUNT BADGE %>
        <%# ---------------------- %>

        <% if document.children? %>
          <span class="badge badge-pill badge-secondary al-number-of-children-badge"><%= document.number_of_children %><span class="sr-only"><%= t(:'arclight.views.index.number_of_components', count: document.number_of_children) %></span></span>
        <% end %>

        <%# -------------------- %>
        <%# RESTRICTED BADGE     %>
        <%# -------------------- %>

        <% if document.restricted_component? %>
          <%= render partial: 'restricted_component_badge', locals: { document: document } %>
        <% end %>

        <%# -------------------- %>
        <%# ONLINE CONTENT BADGE %>
        <%# -------------------- %>

        <% if document.online_content? %>
          <%= render partial: 'online_content_label', locals: { document: document } %>
        <% end %>

      </div>

  <% if document.children? %>
    <%= content_tag(:div, id: "nav_#{document.id}-collapsible-hierarchy",
      class: "collapse children-count-#{document.number_of_children} al-collection-context-collapsible al-hierarchy-level-#{document.component_level} #{'show' if show_expanded?(document)}",
      data: { resolved: false, childrencount: document.number_of_children }
    ) do %>
      <%= generic_context_navigation(document, component_level: document.component_level + 1, original_parents: params[:original_parents]) %>
    <% end %>
  <% end %>
</li>
