<div class="al-search-result-index-article row d-flex align-items-start">

  <% counter = document_counter_with_offset(document_counter) %>

  <div class="col d-flex flex-wrap">
    <div class="order-md-0"> <%# how to handle ordering with an optional thing at the front? %>
      <% if document.is_checkbox_requestable? %>
        <%= render 'aeon_request_checkbox', document: document %>
      <% end %>
    </div>

    <div class="documentHeader order-1" data-document-id="<%= document.id %>">

      <h3 class="index_title document-title-heading">
        <%= link_to_document document, document_show_link_field(document), counter: counter %>
        <% if document.children? %>
          <span class="badge badge-pill badge-secondary al-number-of-children-badge"><%= document.number_of_children %><span class="sr-only"><%= t(:'arclight.views.index.number_of_components', count: document.number_of_children) %></span></span>
        <% end %>
        <%= content_tag('span', class: 'al-document-extent badge') do %>
          <%= document.extent %>
        <% end if document.extent %>

      </h3>
    </div>

    <div class="documentContent order-md-2">
      <%= render_index_doc_actions document, wrapping_class: 'd-flex justify-content-end' %>
    </div>

    <div class="order-3 scope-wrapper">
      <div class="row">
        <%= content_tag('div', class: 'al-document-highlight col') do %>
          <%= document.highlights.join('<br/>').html_safe %>
        <% end if document.highlights %>
      </div>

      <div class="row">
        <%= content_tag('div', class: 'al-document-creator col') do %>
          <%= document.creator %>
        <% end if document.creator %>
      </div>

      <div class="row">
        <%= content_tag('div', class: 'al-document-abstract-or-scope col') do %>
          <%= content_tag('div', 'data-arclight-truncate' => true) do %>
            <%= document.abstract_or_scope %>
          <% end %>
        <% end if document.abstract_or_scope %>
      </div>

    </div>
  </div>
</div>