<%# Overrides ArcLight Core partial. %>
<%# Last checked for updates: ArcLight v0.3.2. %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_search_results.html.erb %>

<% @page_title = t('blacklight.search.page_title.title', :constraints => render_search_to_page_title(params), :application_name => application_name) %>

<% content_for(:head) do %>
  <%= render_opensearch_response_metadata %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
<% end %>

<%# DUL CUSTOMIZATION: Additional skip links for search result views. %>
<%# Blacklight core adds this; not yet in ArcLight core.   %>
<%# See: https://github.com/projectblacklight/blacklight/blob/master/app/views/catalog/_search_results.html.erb#L10-L12 %>
<% content_for(:skip_links) do -%>
    <%= link_to t('blacklight.skip_links.first_result'), '#documents', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
    <%= link_to t('blacklight.skip_links.facets'), '#facets', class: 'element-invisible element-focusable rounded-bottom py-2 px-3 d-none d-lg-block', data: { turbolinks: 'false' } %>
<% end %>

<% content_for(:container_header) do %>
  <h1 class="sr-only top-content-title"><%= search_results_header_text %></h1>
  <%# moved breadcrumbs, repository results, and constraints down below %>
<% end %>

<%= link_to t('blacklight.skip_links.back_to_top'),
            '#skip-link',
            class: 'element-invisible element-focusable rounded-bottom mt-2 py-2 px-3',
            data: { turbolinks: 'false' } %>

<div id="results-nav-and-constraints">

  <div class="results-breadcrumb-wrapper">
    <%= render 'shared/breadcrumbs' %>
  </div>

  <%= render 'search_results_repository' %>

  <div class="mb-2 d-lg-none">
    <a class="btn btn-secondary btn-block sidebar-nav-toggle" href="#" id="navigate-collection-toggle" data-turbolinks="false">
      <i class="fas fa-filter"></i> Search Filters
    </a>
  </div>

  <div class="constraints-wrapper card">
    <%= render 'constraints' %>
  </div>

</div>

<%= render 'search_header' %>

<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

<%- if @response.empty? %>
  <%= render "zero_results" %>
<%- elsif render_grouped_response? %>
  <%= render_grouped_document_index %>
<%- else %>
  <%= render_document_index %>
<%- end %>

<%= render 'results_pagination' %>
