<%# Overrides ArcLight Core partial. %>
<%# Last checked for updates: ArcLight v0.3.0. %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_show_default.html.erb %>

<%# DUL CUSTOMIZATION: Additional skip link for show views to get to collection nav. %>
<% content_for(:skip_links) do -%>
    <%= link_to t('blacklight.skip_links.collection_nav'), '#context', class: 'element-invisible element-focusable rounded-bottom py-2 px-3 d-none d-lg-block', data: { turbolinks: 'false' } %>
<% end %>

<% content_for(:sidebar) do %>
  <div class='row sticky-nav'>
    <div class='col-md-12' id='context'>

      <%# ========================== %>
      <%# Collection Overview Nav    %>
      <%# ========================== %>
      <%# Adapted from:%>
      <%#  https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_collection_context_nav.html.erb %>

      <%= render 'catalog/sidebar_close' %>
      <%= render partial: 'catalog/show_actions/collection_actions', locals: { document: @document } %>


      <section class="sidebar-scroll-wrapper">
        <nav id="about-collection-nav" aria-label="About the collection">
          <ul class='nav flex-column'>
            <% unless blacklight_config.show.metadata_partials.nil? %>
              <% blacklight_config.show.metadata_partials.each do |item| %>
                <% next unless fields_have_content?(collection_doc(document), item) %>
                <li class='nav-item'>
                  <%= link_to t("arclight.views.show.sections.#{item}"),
                    [
                      solr_document_path(normalize_id(document.eadid)),
                      "##{t("arclight.views.show.sections.#{item}").parameterize}"
                    ].join, class: 'nav-link', data: { turbolinks: 'false' }
                  %>
                </li>
              <% end %>

              <%# Manually adding 'Contents' nav link. We want the link in the sidebar but the %>
              <%# actual 'contents' section is detached from the show.metadata_partials config. %>
              <li class='nav-item'>
                <%= link_to t("arclight.views.show.sections.contents"),
                    [
                      solr_document_path(normalize_id(document.eadid)),
                      "##{t("arclight.views.show.sections.contents").parameterize}"
                    ].join, class: 'nav-link', data: { turbolinks: 'false' }
                  %>
              </li>

              <%# Manually adding 'using' nav link. We want the link in the sidebar but the %>
              <%# actual 'using' section is detached from the show.metadata_partials config. %>
              <li class='nav-item'>
                <%= link_to t("arclight.views.show.sections.using_field"),
                    [
                      solr_document_path(normalize_id(document.eadid)),
                      "##{t("arclight.views.show.sections.using_field").parameterize}"
                    ].join, class: 'nav-link', data: { turbolinks: 'false' }
                  %>
              </li>
            <% end %>
          </ul>
        </nav>

        <hr/>

        <%# ========================= %>
        <%# Hierarchy Tree Navigation %>
        <%# ========================= %>
        <% if document.children? or document.parent_ids.present? %>
          <div id="context-tree-nav" role="navigation" aria-label="Navigate the collection contents" class="hierarchy-nav-wrapper top-children-count-<%= collection_doc(document).number_of_children %>">
            <h2 class="navigate-header">
              <i class="fas fa-map-marker-alt"></i>
              <%= t("arclight.views.show.context") %>
            </h2>
            <div class='tab-content'>
              <div class='tab-pane active'>
                <%= render 'component_context' %>
              </div>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
<% end %>


<%= link_to t('blacklight.skip_links.back_to_top'), '#skip-link', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>

<%# =================== %>
<%# upper breadcrumbs   %>
<%# =================== %>
<%# this is from arclight core /app/views/shared/_show_breadcrumbs.html.erb
-- with some small tweaks %>

<% parents = Arclight::Parents.from_solr_document(document).as_parents %>
<nav id="component-breadcrumb" aria-label="breadcrumb">

  <%= content_tag :div, class: "collection-name-wrapper" do %>
    <%= link_to solr_document_path(normalize_id(document.eadid)) do %>
      <i class="fas fa-archive"></i>
      <span class="collection-name"><%= document.collection_name %></span>
    <% end %>
  <% end %>

  <ol class="breadcrumb">

    <% parents.each_with_index.map do |parent, index| %>
      <% if (index != 0) %>
        <%= content_tag :li, class: "breadcrumb-item breadcrumb-item-#{index}" do %>
          <%= link_to parent.label, solr_document_path(parent.global_id) %>
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag :li, class: "breadcrumb-item breadcrumb-item-#{parents.length + 2}" do %>
      <%= document.normalized_title %>
    <% end %>

  </ol>
</nav>

<div class="d-flex title-action-wrapper">

  <%# ===================== %>
  <%# Collection Masthead   %>
  <%# ===================== %>
  <div class='collection-banner flex-grow-1'>
    <i class="fas fa-archive"></i>
    <h1><%= document.normalized_title %></h1>
  </div>

  <%# =================== %>
  <%# Actions (bookmarks) %>
  <%# =================== %>
<!--  <div class="actions-wrapper align-self-start">-->
<!--    <div class='al-show-actions-box-bookmarks'>-->
      <%#= render partial: 'catalog/arclight_bookmark_control', locals: { document: document } %>
<!--    </div>-->
<!--  </div>-->

</div>

<%= render partial: 'arclight/repositories/repository', locals: { repository: document.repository_config } %>

<div class="mb-2 d-lg-none">
  <%#= render partial: 'catalog/show_actions/duke_request', locals: { document: document } %>
  <a class="btn btn-secondary btn-block sidebar-nav-toggle" href="#" id="navigate-collection-toggle" data-turbolinks="false">
    <i class="fas fa-map-marker-alt"></i>
    <%= t("dul_arclight.views.show.sidebar.mobile_sidebar_btn") %>
  </a>
</div>


<%# ============================ %>
<%# Component-level Restrictions %>
<%# ============================ %>
<%# Adapted from https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_show_upper_metadata_default.html.erb %>

<% if document.restricted_component? %>
  <div id="component-restrictions">
    <%= render 'custom_metadata',
      document: @document, field_accessor: 'component_restrictions_field', skip_headings: true %>
      <p><a class="smooth-scroll" href="#<%= t("arclight.views.show.sections.using_field").parameterize %>" data-turbolinks="false"><%= t('dul_arclight.views.show.access.more_restriction') %></a></p>
  </div>
<% end %>

<%# ================ %>
<%# upper metadata   %>
<%# ================ %>

<%= render_document_partial(document, :show_upper_metadata) %>

<% parents = Arclight::Parents.from_solr_document(document).as_parents %>

<% if document.level == 'collection' %>

  <div class="collection-overview-wrapper">
    <%# ========================== %>
    <%# Collection Overview        %>
    <%# ========================== %>
    <%# Adapted from: %>
    <%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_collection_context.html.erb %>

    <% if show_online_access_banner?(document) %>
      <%= render 'arclight/viewers/online_access_banner', document: @document %>
    <% end %>

    <div class="access-preview-snippet">
      <%= render 'using_header' %>

      <%= render 'custom_metadata',
        document: @document, field_accessor: 'restrictions_field', truncation_length: 200, skip_headings: true %>
      <p><a class="smooth-scroll" href="#<%=t("arclight.views.show.sections.using_field").parameterize %>" data-turbolinks="false">More ...</a></p>
    </div>


    <% unless blacklight_config.show.metadata_partials.nil? %>
      <% blacklight_config.show.metadata_partials.each do |metadata| %>
        <% next unless fields_have_content?(@document, metadata) %>
        <%= render partial: 'custom_metadata',
          locals: { document: @document, field_accessor: metadata } %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if document.digital_objects.present? %>

  <%# ==================================== %>
  <%# DAOs on This Level (Not Descendants) %>
  <%# ==================================== %>

  <div class='row' id='online-content'>
    <div class='col-md-12'>
      <h2><%= t('arclight.views.show.online_content') %> <span class="media-body al-online-content-icon" aria-hidden="true" data-toggle="tooltip" title="<%= t('dul_arclight.tooltips.online') %>"><%= blacklight_icon :online %></span></h2>

      <% if document.multiple_ddr_daos? %>
        <%= render partial: 'arclight/viewers/multi-ddr-link', locals: { document: @document } %>
        <% document.non_ddr_digital_objects.each do |obj| %>
          <%= render_object_viewer(obj, document) %>
        <% end %>
      <% else %>
        <% document.digital_objects.each do |obj| %>
          <%= render_object_viewer(obj, document) %>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>

<% if document.children? %>

  <%# ========================== %>
  <%# Child Components           %>
  <%# ========================== %>

  <h2 class="al-show-sub-heading" id="<%= t("arclight.views.show.sections.contents").parameterize %>">
    <%= t("arclight.views.show.sections.contents") %>
  </h2>
  <%= content_tag(
    :div, '',
    class: "al-contents child-components children-count-#{document.number_of_children}",
    data: {
      arclight: {
        path: search_catalog_path,
        name: document.collection_name,
        view: 'child_components',
        parent: document.reference,
        directparent: document.reference,
        childrencount: document.number_of_children,
        search_field: 'within_collection',
        per_page: '100'
      }
    }
  ) %>
<% end %>

<!--

<%# ==================================== %>
<%# DAOs in Descendant Nodes             %>
<%# ==================================== %>
<%# Hide for now. TBD how to render      %>

<% if document.online_content? && document.children? %>
  <div class='row'>
    <div class='col-md-12' id='online-content'>
      <h2><%= t('arclight.views.show.online_content') %></h2>
      <%= content_tag(
        :div, '',
        class: 'al-contents',
        data: {
          arclight: {
            path: search_catalog_path,
            name: document.collection_name,
            access: 'online',
            view: 'online_contents',
            parent: document.reference,
            search_field: 'within_collection'
          }
        }
      ) %>

    </div>
  </div>
<% end %>
-->

<%# ==================================== %>
<%# Access (Using these materials) Terms %>
<%# ==================================== %>

<%# This logic is a meld of these two ArcLight core partials %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_show_default.html.erb#L57-L65 %>
<%# %>

<div id='<%= t("arclight.views.show.sections.using_field").parameterize %>'>
  <% unless blacklight_config.show.component_access_tab_items.nil? &&
            blacklight_config.show.context_access_tab_items.nil? %>
    <%= render 'using_header' %>
    <% if document.component? %>
      <% items = blacklight_config.show.component_access_tab_items.select { |i|  fields_have_content?(@document, i) } %>
    <% else %>
      <% items = blacklight_config.show.context_access_tab_items.select { |i|  fields_have_content?(@document, i) } %>
    <% end %>

    <% items.each_with_index do |item, index| %>
      <%= render 'access_contents',
        document: @document, field_accessor: item %>
    <% end %>
  <% end %>
</div>
