<%# Overrides ArcLight Core partial. %>
<%# Last checked for updates: ArcLight v0.3.0. %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_show_default.html.erb %>

<% content_for(:sidebar) do %>
  <div class='row'>
    <div class='col-md-12' id='context'>

      <%# ========================== %>
      <%# Collection Overview Nav    %>
      <%# ========================== %>
      <%# Adapted from:%>
      <%#  https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_collection_context_nav.html.erb %>


      <div class="actions-wrapper">
        <div class="al-show-actions">
          <h2>
            <i class="fas fa-archive"></i>
            <%= t("dul_arclight.views.show.sidebar.collection_title") %>
          </h2>
          <div class="sidebar-collection-title">
              <%= link_to solr_document_path(normalize_id(document.eadid)) do %>
                <span class="collection-name"><%= document.collection_name %></span>
              <% end %>
            </div>

          <div class="d-flex mt-3">
            <div class="flex-fill">
              <%= render partial: 'catalog/show_actions/duke_request', locals: { document: document } %>
            </div>
            <div>
              <%= render partial: 'catalog/show_actions/collection_info', locals: { document: collection_doc(document) } %>
            </div>
          </div>
        </div>
      </div>

      <ul role="navigation" aria-label="About the collection" class='nav flex-column'>
        <% unless blacklight_config.show.metadata_partials.nil? %>
          <% blacklight_config.show.metadata_partials.each do |item| %>
            <% next unless fields_have_content?(collection_doc(document), item) %>
            <li class='nav-item'>
              <%= link_to t("arclight.views.show.sections.#{item}"),
                [
                  solr_document_path(normalize_id(document.eadid)),
                  "##{t("arclight.views.show.sections.#{item}").parameterize}"
                ].join, class: 'nav-link'
              %>
            </li>
          <% end %>

          <%# manually adding 'using' nav item %>
          <li class='nav-item'>
            <%= link_to t("arclight.views.show.sections.using_field"),
                [
                  solr_document_path(normalize_id(document.eadid)),
                  "##{t("arclight.views.show.sections.using_field").parameterize}"
                ].join, class: 'nav-link'
              %>
          </li>

        <% end %>
      </ul>

      <hr/>

      <%# ========================= %>
      <%# Hierarchy Tree Navigation %>
      <%# ========================= %>
      <% if document.children? or document.parent_ids.present? %>
        <div role="navigation" aria-label="Navigate the collection contents" class="hierarchy-nav-wrapper top-children-count-<%= collection_doc(document).number_of_children %>">
          <h2>
            <i class="fas fa-map-marker-alt"></i>
            <%= t("arclight.views.show.context") %>
          </h2>
          <div class='tab-content'>
            <div class='tab-pane active'>
              <%= render 'component_context' %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>


<%# =================== %>
<%# upper breadcrumbs   %>
<%# =================== %>
<%# this is from arclight core /app/views/shared/_show_breadcrumbs.html.erb
-- with some small tweaks %>

<% parents = Arclight::Parents.from_solr_document(document).as_parents %>
<nav aria-label="breadcrumb">

  <%= content_tag :div, class: "collection-name-wrapper" do %>
    <%= link_to solr_document_path(normalize_id(document.eadid)) do %>
      <i class="fas fa-archive"></i>
      <span class="collection-name"><%= document.collection_name %></span>
    <% end %>
  <% end %>

  <ol class="breadcrumb">

    <% parents.each_with_index.map do |parent, index| %>
      <% if (index != 0) %>
        <%= content_tag :li, class: "breadcrumb-item breadcrumb-item-#{index}" do %>
          <%= link_to parent.label, solr_document_path(parent.global_id) %>
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag :li, class: "breadcrumb-item breadcrumb-item-#{parents.length + 2}" do %>
      <%= document.normalized_title %>
    <% end %>

  </ol>
</nav>


<%# =================== %>
<%# Actions (bookmarks) %>
<%# =================== %>

<div class="series-action-wrapper">

  <div class="actions-wrapper d-flex">

    <div class='al-show-actions-box-bookmarks flex-md-fill'>
      <%= render partial: 'catalog/arclight_bookmark_control', locals: { document: document } %>
    </div>

  </div>

</div>


<%# ===================== %>
<%# Collection Masthead   %>
<%# ===================== %>
<div class='row collection-banner'>
  <div class='col-auto'>
    <i class="fas fa-archive"></i>
    <h1><%= document.normalized_title %></h1>
  </div>
</div>


<%# ============================ %>
<%# Component-level Restrictions %>
<%# ============================ %>
<%# Adapted from https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_show_upper_metadata_default.html.erb %>

<% if document.restricted_component? %>
  <div id="access-restriction-snippet">
    <dl>
      <% doc_presenter = show_presenter(document).with_field_group('component_using_field') %>
      <% generic_document_fields('component_using_field').each do |field_name, field| %>
        <% if generic_should_render_field?('component_using_field', document, field) %>
          <dt class="blacklight-<%= field_name.parameterize %>"><i class="fas fa-exclamation-triangle"></i> <%= generic_render_document_field_label('component_using_field', document, field: field_name) %></dt>
          <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field %></dd>
        <% end %>
      <% end %>
    </dl>
    <p><a class="smooth-scroll" href="#<%=t("arclight.views.show.sections.using_field").parameterize %>"><%= t('dul_arclight.views.show.access.more_restriction') %></a></p>
  </div>
<% end %>

<%# ================ %>
<%# upper metadata   %>
<%# ================ %>

<%= render_document_partial(document, :show_upper_metadata) %>

<% parents = Arclight::Parents.from_solr_document(document).as_parents %>

<% if document.level == 'collection' %>
  <div class="collection-overview-wrapper">
    <%# ========================== %>
    <%# Collection Overview        %>
    <%# ========================== %>
    <%# Adapted from: %>
    <%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_collection_context.html.erb %>

    <% if show_online_access_banner?(document) %>
      <%= render 'arclight/viewers/online_access_banner', document: @document %>
    <% end %>

    <div class="access-preview-snippet">
      <%= render 'custom_metadata',
        document: @document, field_accessor: 'using_field', truncation_length: 200 %>
      <p><a class="smooth-scroll" href="#<%=t("arclight.views.show.sections.using_field").parameterize %>">More ...</a></p>
    </div>


    <% unless blacklight_config.show.metadata_partials.nil? %>
      <% blacklight_config.show.metadata_partials.each do |metadata| %>
        <% next unless fields_have_content?(@document, metadata) %>
        <%= render partial: 'custom_metadata',
          locals: { document: @document, field_accessor: metadata } %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if document.digital_objects.present? %>

  <%# ==================================== %>
  <%# DAOs on This Level (Not Descendants) %>
  <%# ==================================== %>

  <div class='row'>
    <div class='col-md-12'>
      <h2><%= t('arclight.views.show.online_content') %> <span class="media-body al-online-content-icon" aria-hidden="true" data-toggle="tooltip" title="<%= t('dul_arclight.tooltips.online') %>"><%= blacklight_icon :online %></span></h2>

      <% if document.multiple_ddr_daos? %>
        <%= render partial: 'arclight/viewers/multi-ddr-link', locals: { document: @document } %>
        <% document.non_ddr_digital_objects.each do |obj| %>
          <%= render_object_viewer(obj, document) %>
        <% end %>
      <% else %>
        <% document.digital_objects.each do |obj| %>
          <%= render_object_viewer(obj, document) %>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>

<% if document.children? && document.level != 'collection' %>

  <%# ========================== %>
  <%# Child Components           %>
  <%# ========================== %>

  <h2>Contents</h2>
  <%= content_tag(
    :div, '',
    class: "al-contents child-components children-count-#{document.number_of_children}",
    data: {
      arclight: {
        path: search_catalog_path,
        name: document.collection_name,
        view: 'child_components',
        parent: document.reference,
        directparent: document.reference,
        childrencount: document.number_of_children,
        search_field: 'within_collection',
        per_page: '100'
      }
    }
  ) %>
<% end %>

<!--

<%# ==================================== %>
<%# DAOs in Descendant Nodes             %>
<%# ==================================== %>
<%# Hide for now. TBD how to render      %>

<% if document.online_content? && document.children? %>
  <div class='row'>
    <div class='col-md-12' id='online-content'>
      <h2><%= t('arclight.views.show.online_content') %></h2>
      <%= content_tag(
        :div, '',
        class: 'al-contents',
        data: {
          arclight: {
            path: search_catalog_path,
            name: document.collection_name,
            access: 'online',
            view: 'online_contents',
            parent: document.reference,
            search_field: 'within_collection'
          }
        }
      ) %>

    </div>
  </div>
<% end %>
-->

<%# ==================================== %>
<%# Access (Using these materials) Terms %>
<%# ==================================== %>

<% unless blacklight_config.show.component_access_tab_items.nil? && 
          blacklight_config.show.context_access_tab_items.nil? %>
  <div class='row'>
    <div class='col-md-12'>
      <h2 class="al-show-sub-heading" id='<%=t("arclight.views.show.sections.using_field").parameterize %>'><%= t('arclight.views.show.sections.using_field') %></h2>
        <% if document.component? %>
          <% items = blacklight_config.show.component_access_tab_items.select { |i|  fields_have_content?(@document, i) } %>
        <% else %>
          <% items = blacklight_config.show.context_access_tab_items.select { |i|  fields_have_content?(@document, i) } %>
        <% end %>

        <% items.each_with_index do |item, index| %>
          <%= render partial: 'access_contents', locals: { document: @document, field_accessor: item, card_index: index} %>
        <% end %>
    </div>
  </div>
<% end %>
